/.DS_Store
.DS_Store
Example/Build
Example/Pods
Example/SHPKeyboardAwareness.xcodeproj/project.xcworkspace/xcuserdata
Example/SHPKeyboardAwareness.xcodeproj/xcuserdata
Example/SHPKeyboardAwareness.xcworkspace
Example/.idea